<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <ol>
        <li>Course</li>
        <ul>
            <li>
            <a href="/course/dj" >Django</a>
            </li>
            <li>
            <a href="/course/py" >Python</a>
            </li>
        </ul>
    </ol>
    <ol>
        <li>Fees</li>
        <ul>
            <li>
                <a href="fees/dj" >Django</a>
            </li>
            <li>
            <a href="fees/py" >Python</a>
            </li>
        </ul>
    </ol>
</body>
</html>