<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learn Django</title>
  </head>
  <body>
    <h1>
      {% comment %} Variable {% endcomment %}
      Learn {{cname}} <br />
      Duration: {{duration}} <br />
      Total Seats: {{seats}} <br/>
    
      {% comment %} Filters: {% endcomment %}

      {% comment %} 'upper' into uppercase {% endcomment %}
      Learn {{cname | upper}} <br />

      Learn {{"Razz roman ojha" | truncatewords:2}} <br />
      {% comment %} Output: Razz roman ... {% endcomment %}

      {% comment %} Multiple Filter {% endcomment %}
      Learn {{"Razz roman ojha" | upper | truncatewords:2}} <br />

      {% comment %} capfirst: {% endcomment %}
      Learn {{cname | capfirst}} <br />
      {% comment %} Output: Learn Django {% endcomment %}

      {% comment %} default {% endcomment %}
      Learn {{random | default:"Null"}} <br />
      {% comment %} Output: Learn Null {% endcomment %}

      {% comment %} length {% endcomment %}
      Learn {{cname | length}} <br />
      {% comment %} Output: Learn 6 {% endcomment %}

      {% comment %} lower {% endcomment %}
      Learn {{"DJANGO" | lower}} <br />
      {% comment %} Output: Learn django {% endcomment %}

      {% comment %} Slice {% endcomment %}
      {{cname | slice:'2'}} <br />
      {% comment %} Output: dj {% endcomment %}

      {% comment %} truncatechars {% endcomment %}
      {{cname | truncatechars:3}} <br />
      {% comment %} Output: dj... {% endcomment %}

      {% comment %} date: {% endcomment %}
      {% comment %} Get month: {% endcomment %}
      {{date | date:"M"}} <br/>

      {% comment %} Day {% endcomment %}
      {{date | date:"D"}} <br/>
      {{date | date:"D d M Y"}} <br/>

      {% comment %} Predefine date & time format {% endcomment %}
      {{date | date:"SHORT_DATE_FORMAT"}} <br/>
      {{date | time:"TIME_FORMAT"}} <br/>

      {% comment %} floatforamt {% endcomment %}
      {{price | floatformat}} <br/>
      {{price | floatformat:3}} <br/>
      {{price | floatformat:-3}} <br/>
      {{price | floatformat:0}} <br/>

      {% comment %} if Tag {% endcomment %}
      {% if cname %}
        <p>cname exist </p>
      {% endif %}
      {% if price >= 150 %} <p>price is greater then 100</p> {% endif %}
      {% if seats is 19 %} <p>seat is 19</p> {% endif %}
      {% if seats is 19 or price >= 30 %} <p>seat and price </p> {% endif %}
      {% if cname|length > 4 %}cname is greater then 4{% endif %}

      {% comment %} if else elif {% endcomment %}
      {% if price >= 150 %}
      <p>price is greater then 150</p>
      {% elif price <= 100 %}
      <p>price is less then 100</p>
      {% else %}
      <p>price is less then 150</p>
      {% endif %}
    </h1>
  </body>
</html>
