<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <form action="" method="GET">
        <table>
            {{form}}
        </table>
        <input type="submit" value="submit">
    </form>

    <form action="" method="GET">
        {% comment %} creating from by ourself {% endcomment %}
        <div>
            <label for="id_name">Name:</label>
            <input type="text" name="name" requred id="id_name">
        </div>
        <br/>

        {% comment %} using from created by django as say way as before {% endcomment %}
        <div>
            <label for="{{form.name.id_for_label}}">{{form.name.label}}</label>
            
            {% comment %} Output:  <label for="id_name">Name</label> {% endcomment %}
            {{form.name}}
            {% comment %} Output:  <input type="text" name="name" required id="id_name"> {% endcomment %}
            {{form.email.label_tag}}
            {% comment %} Output: <label for="id_email">Email:</label> {% endcomment %}
            <input type="email" name="{{form.email.html_name}}"  id="{{form.email.id_for_label}}" value="{{form.email.value}}">
            {% comment %} Output: <input type="email" name="email" required id="id_email"> {% endcomment %}
            {{form.email.field.required}}
            {% comment %} Output: True {% endcomment %}
        </div>
    </form>
</body>
</html>