<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <form action="" method="GET">
        <table>
            {{form}}
        </table>
        <input type="submit" value="submit">
    </form>

    {{form.as_table}}
    {{form.as_p}}
    {{form.as_ul}}
    {{form.name}}
    {{form.email}}
</body>
</html>