<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Other{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">

    {% block css %}
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    {% endblock css %}
</head>
<body>
    <nav>
        <ol>
            <li>
                {% comment %} one way to navigate to pages {% endcomment %}
                <a href="/">Home</a>
            </li>
            <li>
                {% comment %} NOTE: we should not use context value that is being pass from views.py to base template {% endcomment %}
                <a href="/about">About</a>
                {% comment %} using url tag {% endcomment %}
                <a href="{% url 'about' %}">About</a>
            </li>
            <li>
                {% comment %} using url tag for the application level url {% endcomment %}

                {% comment %} creating variable from url tag {% endcomment %}
                {% url 'django_course' as dc %}
                <a href="{{dc}}">Django Course</a>
            </li>
        </ol>
    </nav>
    {% block content %} {% endblock content %}
    {% block content2 %} {% endblock content2 %}
    {% block content3 %}{% endblock content3 %}
</body>
</html>