<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Practice 01</title>
    <style>
      body {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      #container {
        background-color: rgb(62, 177, 197);
        width: 40%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
      }
    </style>
  </head>
  <body>
    <div id="container">
      <h1>This is the index page</h1>
      <form action="/getData" method="get">
        <input type="text" placeholder="Enter you name" name="name" />
        <br />
        <br />
        <input type="text" placeholder="Email" name="email" />
        <p>Gender:</p>
        <input type="checkbox" name="male" />Male <br />
        <input type="checkbox" name="female" />Female <br />
        <input type="checkbox" name="others" />Others <br /><br />
        <button type="submit">Send Text</button>
      </form>
    </div>
  </body>
</html>
