<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Student List</h1>
        {% for student in students %}
            <h3>{{student.id}}. {{student.name}} {{student.roll}} {{student.course}}</h3>
        {% endfor %}

        {% for student in object_list %}
            <h3>{{student.id}}. {{student.name}} {{student.roll}} {{student.course}}</h3>
        {% endfor %}
</body>
</html>