<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <form action="" method="POST">
        {% comment %} if we use POST method we have to use CSRF {% endcomment %}
        {% csrf_token %}
        {% comment %} <input type="hidden" name="csrfmiddlewaretoken" value="H3wdssF3jcjnRsLwLGse6k8HvL9N9hwMNWcS7UkB2ur6qcuCp91oCLmVuO96kykN"> {% endcomment %}
        {{form.as_p}}
        <input type="submit" value="Submit">
    </form>
</body>
</html>