<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <title>Home</title>
</head>
<body>
    <ol>
        <li>Course</li>
        <ul>
            <li>
            <a href="/course/dj" >Django</a>
            </li>
            <li>
            <a href="/course/py" >Python</a>
            </li>
        </ul>
    </ol>
    <ol>
        <li>Fees</li>
        <ul>
            <li>
                <a href="fees/dj" >Django</a>
            </li>
            <li>
            <a href="fees/py" >Python</a>
            </li>
        </ul>
    </ol>

    <img src="{% static 'assets/images/01.jpg' %}" alt="01">
    <img src="{% get_static_prefix %}assets/images/02.jpg" alt="01">
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>