<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <form action="" method="GET">
        {% comment %} create form field manually using loop {% endcomment %}
        {% for field in form %}
            {% comment %} {{field.label_tag}} {% endcomment %}

            <label for="{{field.id_for_label}}">{{field.label}}</label>

            {{field}}
            {% comment %} Output: <input type="text" name="name" required id="id_name"> {% endcomment %}

            {% comment %} <input type="email" name="{{form.email.html_name}}"  id="{{form.email.id_for_label}}" value="{{form.email.value}}"> {% endcomment %}
        {% endfor %}
        <input type="submit" value="submit"/>
    </form>

    <form action="" method="GET">
        {% comment %} rendering only visible field not hidden {% endcomment %}
        {% for field in form.visible_fields %}
            <label for="{{field.id_for_label}}">{{field.label}}</label>
            {{field}}
        {% endfor %}
        {% comment %} now rendering hidden field {% endcomment %}
        {% for field in form.hidden_fields %}
        {% comment %} we don't need label for hidden field {% endcomment %}
            {{field}}
        {% endfor %}
        <input type="submit" value="submit"/>
    </form>
</body>
</html>