<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Student List</h1>
    <a href="{% url 'detail' 1 %}">Student 1</a>
    {% comment %} this url will go to:
    http://127.0.0.1:8000/enroll/student/1/
    {% endcomment %}

    <a href="{% url 'detail' 2 %}">Student 2</a>
    <a href="{% url 'detail' 3 %}">Student 3</a>

    <h3>Int</h3>
    <a href="{% url 'int-detail' 1 %}">Student 1</a>
    <a href="{% url 'int-detail' 2 %}">Student 2</a>
    <a href="{% url 'int-detail' 3 %}">Student 3</a>

    <h3>multiple Dynamic url</h3>
    <a href="{% url 'int-sub-detail' 1 2 %}">Student 1</a>
    <a href="{% url 'int-sub-detail' 2 1 %}">Student 2</a>
    <a href="{% url 'int-sub-detail' 1 1 %}">Student 3</a>
</body>
</html>